for basic python, i covered
1) basic program
2) arrays
3) list
4) matrix
5)string
6) dictionary
7) tuple
8) search and sort
9) regex
10)file handling

Area of a circle

In [ ]:
pi = 3.14
def AreaOfCircle(r):
  area = pi * (r*r)
  return area
print(AreaOfCircle(3))

28.26

Calculate simple Interest

In [ ]:
#interest formula = PTR/100
#where P=Principle amount, T is the time and R is the rate

def CalculateInterest(P, T, R):
    interest = (P*T*R)/100
    print (interest)

CalculateInterest(1000, 5, 8)

400.0

Find maximum

In [ ]:
def max_number(a, b):
  if a > b:
    print("Max number is = ", a)
  else:
    print("Max number is = ",b)

max_number(10,20)

Max number is =  20

Find largest value in an array

In [ ]:
def largest(array, n):
  array.sort()
  return array[n-1]

array = [1,3,8,3,6,5]
n = len(array)
num = largest(array, n)
print(num)

8

Sum of an array

In [8]:
array = [1,2,3]
num = 0
for i in array:
  num = num + i

print(num)

6

Swap two elements in a list

In [11]:
def positionswap(list, p1, p2):
  list[p1], list[p2] = list[p2], list[p1]

  return list

list = [1,3,5,7]
p1,p2 = 1,3

print(positionswap(list, p1-1, p2-1))

[5, 3, 1, 7]

Find length of list

In [13]:
list = [1,2,3,4]
length = len(list)
length

4

Check if element is in the list

In [14]:
list = [1,3,5,7,9]
num = 5

if num in list:
  print("it is in the list")
else:
  print("it does not exist in the list")

it is in the list

Reverse list

In [15]:
list = [1,3,5,7,9]

list.reverse()
print(list)

[9, 7, 5, 3, 1]

Sum of elements in list

In [17]:
list = [1,3,5,7,9]
total = sum(list)
total

25

Find lagest number in list

In [20]:
list = [2,5,2,9,3,6]

list.sort()

print(list[-1])

9

Find second largest

In [22]:
list = [5,7,3,8,5,3,8,9,1]

list.sort()
print(list[-2])

8

Print Even number in list

In [23]:
list = [1,3,8,4,3,9,4,8,5]

for num in list:
  if num % 2 == 0:
    print(num)

8
4
4
8

Print odd number in list

In [25]:
list = [3,2,8,5,9,4,6,1]

for num in list:
  if num % 2 == 1:
    print(num)

3
5
9
1

print positive number in a list

In [26]:
list = [12,45,-54,5,-8,-4,78]

for num in list:
  if num > 0:
    print(num)

12
45
5
78

print negative number in a list

In [27]:
list = [12,45,-54,5,-8,-4,78]

for num in list:
  if num < 0:
    print(num)

-54
-8
-4

Add two matrices

In [28]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[9,8,7],
    [6,5,4],
    [3,2,1]]


result = [[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(X)): # iterate rows
    for j in range(len(X[0])): # iterate columns
        result[i][j] = X[i][j] + Y[i][j]

for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

Reverse string

In [24]:
def reverse_string(input_string):
    return input_string[::-1]

original_string = "ABCDEFG"
reversed_string = reverse_string(original_string)
print(reversed_string)

GFEDCBA

Word Frequency Count

In [2]:
string = "This is a test string to count the frequency of the string"
res = {key: string.count(key) for key in string.split()}
print("The words frequency : " + str(res))

The words frequency : {'This': 1, 'is': 2, 'a': 1, 'test': 1, 'string': 2, 'to': 1, 'count': 1, 'the': 2, 'frequency': 1, 'of': 1}

Split and join string

In [5]:
string = 'String1 String2 String3'

print(string.split(" "))

print("-".join(string.split()))

['String1', 'String2', 'String3']
String1-String2-String3

Execute string of a code

In [7]:
code = '6+5+3'
result = eval(code)
print(result)

14

sum of all items in a dictionary

In [8]:
def returnSum(myDict):

    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)

    return final

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

remove a key from a dictionary

In [9]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}

del test_dict['Mani']

print("The dictionary after remove is : ", test_dict)

The dictionary after remove is :  {'Arushi': 22, 'Haritha': 21}

merge dictionary

In [27]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

print(Merge(dict1, dict2))

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

remove duplicate from words from sentence

In [31]:
string = 'A B A C C C D'
print(' '.join(set(string.split())))

A C B D

size of tuple

In [33]:
import sys

Tuple1 = ("A", 1, "B", 2, "C", 3)
Tuple2 = ("Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu")

print("Size of Tuple1: " + str(sys.getsizeof(Tuple1)) + "bytes")
print("Size of Tuple2: " + str(sys.getsizeof(Tuple2)) + "bytes")

Size of Tuple1: 88bytes
Size of Tuple2: 88bytes

extract digit from tuple list

In [34]:
test_list = [(15, 3), (3, 9), (1, 10), (99, 2)]

print("The original list is : " + str(test_list))
x=""

for i in test_list:
    for j in i:
        x+=str(j)
res=list(map(int,set(x)))

print("The extracted digits : " + str(res))

The original list is : [(15, 3), (3, 9), (1, 10), (99, 2)]
The extracted digits : [5, 1, 0, 2, 3, 9]

adding tuple to list

In [35]:
test_list = [5, 6, 7]

print("The original list is : " + str(test_list))

test_tup = (9, 10)

test_list += test_tup

print("The list after addition : " + str(test_list))

The original list is : [5, 6, 7]
The container after addition : [5, 6, 7, 9, 10]

binary search

In [36]:
def binary_search(arr, low, high, x):

    if high >= low:

        mid = (high + low) // 2

        if arr[mid] == x:
            return mid

        elif arr[mid] > x:
            return binary_search(arr, low, mid - 1, x)

        else:
            return binary_search(arr, mid + 1, high, x)

    else:
        return -1


arr = [ 2, 3, 4, 10, 40 ]
x = 10

result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
    print("Element is present at index", str(result))
else:
    print("Element is not present in array")

Element is present at index 3

linear search

In [38]:
def search(arr, x):

    for i in range(len(arr)):

        if arr[i] == x:
            return i

    return -1

search([1,2,3,4,5], 3)

2

quick sort

In [39]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    else:
        pivot = arr[0]
        left = [x for x in arr[1:] if x < pivot]
        right = [x for x in arr[1:] if x >= pivot]
        return quicksort(left) + [pivot] + quicksort(right)


arr = [1, 7, 4, 1, 10, 9, -2]
sorted_arr = quicksort(arr)
print("Sorted Array in Ascending Order:")
print(sorted_arr)

Sorted Array in Ascending Order:
[-2, 1, 1, 4, 7, 9, 10]

bubble sort

In [40]:

def bubblesort(elements):
    swapped = False
    # Looping from size of array from last index[-1] to index [0]
    for n in range(len(elements)-1, 0, -1):
        for i in range(n):
            if elements[i] > elements[i + 1]:
                swapped = True
                # swapping data if the element is less than next element in the array
                elements[i], elements[i + 1] = elements[i + 1], elements[i]
        if not swapped:
            # exiting the function if we didn't make a single swap
            # meaning that the array is already sorted.
            return

elements = [39, 12, 18, 85, 72, 10, 2, 18]

print("Unsorted list is,")
print(elements)
bubblesort(elements)
print("Sorted Array is, ")
print(elements)

Unsorted list is,
[39, 12, 18, 85, 72, 10, 2, 18]
Sorted Array is,
[2, 10, 12, 18, 18, 39, 72, 85]

heap sort

In [41]:
import heapq

def heap_sort(arr):
    heapq.heapify(arr)
    result = []
    while arr:
        result.append(heapq.heappop(arr))
    return result

arr = [60, 20, 40, 70, 30, 10]
print("Input Array: ", arr)
print("Sorted Array: ", heap_sort(arr))

Input Array:  [60, 20, 40, 70, 30, 10]
Sorted Array:  [10, 20, 30, 40, 60, 70]

RegEx to find uppercase lower case and special characters

In [42]:
import re

string = "ThisIsGeeksforGeeks !, 123"

uppercase_characters = re.findall(r"[A-Z]", string)
lowercase_characters = re.findall(r"[a-z]", string)
numerical_characters = re.findall(r"[0-9]", string)
special_characters = re.findall(r"[, .!?]", string)

print("The no. of uppercase characters is", len(uppercase_characters))
print("The no. of lowercase characters is", len(lowercase_characters))
print("The no. of numerical characters is", len(numerical_characters))
print("The no. of special characters is", len(special_characters))

The no. of uppercase characters is 4
The no. of lowercase characters is 15
The no. of numerical characters is 3
The no. of special characters is 4

regex to check valid email

In [43]:
import re

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

def check(email):

	if(re.fullmatch(regex, email)):
		print("Valid Email")

	else:
		print("Invalid Email")

if __name__ == '__main__':

	# Enter the email
	email = "ankitrai326@gmail.com"

	# calling run function
	check(email)

	email = "my.ownsite@our-earth.org"
	check(email)

	email = "ankitrai326.com"
	check(email)

Valid Email
Valid Email
Invalid Email

regex to check if name end with number

In [44]:
import re

regex = '[a-zA-z0-9]$'

def check(string):

	if(re.search(regex, string)):
		print("Accept")

	else:
		print("Discard")

if __name__ == '__main__' :

	string = "ankirai@"

	check(string)

	string = "ankitrai326"
	check(string)

	string = "ankit."
	check(string)

	string = "geeksforgeeks"
	check(string)

Discard
Accept
Discard
Accept

regex to check if a strin starts and end with the same character

In [45]:
import re

regex = r'^[a-z]$|^([a-z]).*\1$'

def check(string):
	if(re.search(regex, string)):
		print("Valid")
	else:
		print("Invalid")

if __name__ == '__main__' :

	sample1 = "abba"
	sample2 = "a"
	sample3 = "abcd"

	check(sample1)
	check(sample2)
	check(sample3)

Valid
Valid
Invalid

Read file word by word

In [ ]:
with open('insert file path here','r') as file:

    for line in file:

        for word in line.split():

            print(word)

read file by character

In [ ]:
file = open('insert file path here ', 'r')

while 1:
    char = file.read(1)
    if not char:
        break

    print(char)

file.close()

print prime numbers of a guven number

In [ ]:
import math
def primeFactors(n):


	while n % 2 == 0:
		print(2)
		n = n // 2

	for i in range(3,int(math.sqrt(n))+1,2):

		while n % i== 0:
			print(i)
			n = n // i

	if n > 2:
		print(n)

n = 315
primeFactors(n)